*{
    padding: 0;margin: 0;
    list-style: none;
}
a{ text-decoration: none;
   color: black;
   font-size: 14px;
}
body{
    height: 100%;
    font-size: 1rem;
}
.screenx{
    /* text-indent: -999999px; */
    width: 0;height: 0; overflow: hidden;
    line-height: 0;
    display: inline-block;
    position: absolute;

    /* vertical-align: bottom; */

}
/* 헤더 시작 */
.header{
    height: 141px;
    border-top:1px solid rgba(102, 51, 153, 0);
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    padding-top: 20px;
    /* width: 1440px; */
    margin: 0 auto;
    box-sizing: border-box;
    background: white;
}
.logowrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1070px;
}

h1>a{
    content:url(images/khclgo.png);
    display: block;
    width: 110px;
    height: 30px;
    object-fit: cover;
    background: white;
    margin-top: 10px;
    text-indent: -999999px;
}
.floatbar{
  position: fixed;
}
#gnb{
    width: 1440px;
    margin: auto;
    background: white;
    /* position: fixed; */
}
.nav{
    max-width: 1130px;
    /* margin: auto; */
    padding-right: 310px;
    /* box-sizing: border-box; */
}
#nonelist{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;   
    align-items: center;
    width: 717px; 
    height: 47px;
    margin: auto;
    box-sizing: border-box;
    /* padding-left: 220px; */
    /* padding-right: 110px; */

}
#nonelist>li{
    position: relative;
    
    font-weight: bold;
    width: 135px;
    margin: auto;
 
}
#nonelist>li>a{
    /* font-size: inherit; */
    display: block;
    /* padding-bottom: 20px; */
    text-align: center;   
    font-size: 16px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nonelist>li{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.linea{
    display: inline-block;
     height: 6px;
    width: 0px;
    overflow: hidden;
    transition: all 0.4s;
    box-sizing: border-box;
    border-bottom: 1px black solid;
    justify-content: center;
}
.lineb{
    display: inline-block;
    height: 6px;
    width: 0px;
    /* padding-bottom: 30px; */
    transition: all 0.4s;
    box-sizing: border-box;
    border-bottom: 1px black solid;
    justify-content: center;
    

}
.linec{
    display: inline-block;
    height: 6px;
    width: 0px;
    /* padding-bottom: 30px; */
    transition: all 0.4s;
    box-sizing: border-box;
    border-bottom: 1px black solid;
}
.lined{
    display: inline-block;
    height: 6px;
    width: 0px;
    /* padding-bottom: 30px; */
    transition: all 0.4s;
    box-sizing: border-box;
    border-bottom: 1px black solid;

}
.linee{
    display: inline-block;
    height: 6px;
    width: 0px;
    /* padding-bottom: 30px; */
    transition: all 0.4s;
    box-sizing: border-box;
    border-bottom: 1px black solid;

}
/* #nonelist>li:hover .lit1{
    height: 180px;
    display: block;} */

.lit1{
    /* display: none; */
    position: absolute;
    padding-top: 60px;
    transition: all 0.4s;
    height: 0px;

    overflow: hidden;

}
.lit1>li{
    font-weight:initial;
    width: 150px;
    text-align: center;
    margin: 10px 0;
}

/* .nav:hover div.whitebar, .nav:hover .lit1{
    height: 220px;
} */
.whitebar{
    background: rgb(255, 255, 255);
    width: 100%;
    /* height: 240px; */
    height: 0;
    position: absolute;
    top:60px;
    left:0;
    transition: all 0.5s;
    overflow: hidden;
}
.bgbar{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    background: url(images/kfc_sprite.png) no-repeat;
    width: 250px;
    height: 150px;
}

#utill>ul{
    display: flex;
    flex-direction:row;
    /* align-content: center; */
    gap:10px;
    /* margin-top: 20px; */
    box-sizing: border-box;


}
#utill>ul>li{
    height: 47px;
    line-height: 47px;
}

#utill>ul>li a{
    /* overflow: hidden;
    display: block; */
    padding-left: 10px;
    /* border-left: 1px solid black; */
    
}
.border{
    border-left: 1px solid black;
}
.noborder{
    border: none;
}



.arrow{
    position: absolute;
    top:200px;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}
/* .arrow>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.arrow a{
    font-size: 50px;
    display: block;
    color : white;
}
.arrow .left{
    position: absolute;
    left:0;
}
.arrow .right{
    position: absolute;
    right:0;
}


/*
*/
.roadmap>h2{
    display: block;
    content: url(images/khclgo.png);
    text-indent: -999999px;
    width: 150px;
    height: 40px;
    object-fit: cover;

}
.roadmap>ul{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
}
.roadmap>ul>li>a{font-size : 20px; font-weight: bold;
}
.roadmap>ul>li>ul{
margin-top: 10px;
}
footer{
    background: gray;
    padding: 20px 0  80px;
    text-align: center;
}
.end{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    margin: 0 auto 50px;
}
.end a, footer p, footer address{
    color:white;
    font-style: normal;
}
.end>a:first-child{
    color:yellow;
}
.end>a::after{
    content : '|'
    ;
    margin-left:25px;  
    color: white;
}
.end>a:last-child::after{
 content:'';
}


/*푸터와 헤더 작성한 부분임*/
.blackbar{
    padding: 10px;
    /* margin-bottom: 150px; */
}
.blackbar{
    padding: 10px;
    /* margin-bottom: 150px; */
}
.bg_bar{
    /* position: relative;; */
    /* width: 100%; */
    background:url(images/banner_notice_background.jpg) black;
}

.bar5{
    /* border-top: 1px solid white; */
    width: 1000px;
    height: 195px;
    position: relative;
    display: flex;
    flex-flow:column-reverse;
    justify-content: center;
    color:white;
    padding: 50px 20px;
    box-sizing: border-box;
    margin: auto;
}
.bar5 h2{
    font-size: 60px;
    font-weight: bold;
    
}
.bar5>img{
    position: absolute;
    right:20px;
    top:-59px
    ;width: 803px;
    object-fit: contain;
    height: 253px;

}
.wrapbox2{
    width: 1390px;
    margin: auto;
    padding: 70px 25px 100px;
}
.noticeall>h2{
    max-width: 1340px;
    margin: 0 auto 8px;
}
.not1{
    max-width: 1390px;
    margin: auto;
}
form{ 
    max-width: 1340px;
    background: rgba(128, 128, 128, 0.377);
    margin-bottom: 50px;
    box-sizing: border-box;
    border-top: 1px solid black;
    padding: 40px 0;
}

form legend{
    font-size: 20px;
    margin-bottom: 5px;

}
fieldset>ul>li label{
    padding-left: 10px;

}
fieldset>ul{
    width: 50%;
    box-sizing: border-box;
    /* padding: 0px 0px 0px 49px; */
    display: flex;
    gap:20px;
    flex-direction: row;
}
fieldset li input:checked{
    background-color: red;
}
fieldset li{
    height: 30px;
}

.search{
    width: 50%;
    padding: 0 49px 0 0;
    display: flex;
    justify-content: flex-end;
    gap:30px
}
fieldset{
    display:flex;
    flex-direction: row;
    border: none;
    padding: 0 0 0 65px;
}

.wrapbox1{
    margin: 0 auto 80px;
    /* padding-left: 50px; */
}
.search input:first-child{
    height: 30px;
    width: 300px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.555);
}
.search input:last-child{
    width: 40px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.349);

}

table{
    display: block;
    border-top: 1px solid black;
    max-width: 1340px;
    border-top: 1px solid black;
    border-collapse: collapse;
}
thead>tr>th:first-child{
    width: 201px;
    height: 48px;
}
thead>tr>th:nth-child(2){
    width: 871px;
    height: 48px;
}
thead>tr>th:nth-child(3){
   width: 134px;
   height: 48px; 
}
thead>tr>th:nth-child(4){
width: 134px;
height: 48px; }
th{
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
    border-collapse: collapse;
}

td{
    height: 48px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
    border-collapse: collapse;
    
}

