*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
}
a,address{
    color:inherit;
    text-decoration: none;
    border: 0 none;
}
.xx{
    display: block;
    width: 0 !important;
    height: 0 !important;
    text-indent: -999999999px;
    overflow :hidden;
    line-height: 0;
    border: 0 none !important;
}
/* 초기화  */
.font_red{
    color: orangered !important;
}
.main{
    min-width: 1040px;
}
.fullsizewrap{
    width: 980px;
    margin: 0 auto;
}
.main h1{font-size: 2em;
    border-bottom:  3px solid black;
    padding:30px 0  15px;
}
.storetapmenu{
    display: flex;
    width: 980px;
    height: 50px;
    border-bottom: 1px solid #666;
    align-items: center;
    margin-bottom: 90px;
}
.storegiftcon li a{ color : black;
font-weight: bold;}
.storegiftcon{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}
.storegiftcon li:first-child {
    border-left: 1px solid #666;
    padding-left: 30px;
}
.storegiftcon li span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    color:white ;
}
.storetapmenu ul:first-child{
    display: flex;
    width: 65%;
    justify-content: space-between;
}
.storetapmenu a{
    color:#666;
    font-size: 1em;
    font-weight: bold
}

.storemainwrapbox h2{
    font-size: 1.5em;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
    width: 100%;
   
}.storemainwrapbox>ul{
    display: flex;
    flex-flow: row wrap;
    width: 980px;
}

.storemainwrapbox>ul>li:first-child ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: space-around; */
    gap : 50px
}
.storemainwrapbox>ul>li>ul>li>div{
    width: 270px;

}
.storemainwrapbox h3{
    font-size: 1.2em;
}
.storemainwrapbox>ul>li:first-child ul li a img{
    width: 270px;
}

.packbold{
    font-size: 1em;
    font-weight: bold;
}


.storemainwrapbox p:not(.packbold){
    color: #666;
    margin-bottom: 10px;
}
.moviewrap{
    position: relative;
}



.hoverbox3{
    position: absolute;
    top:0;
    display: none;
    background-color: rgba(0, 0, 0, 0.223);
    width: 270px;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;

}
.hoverbox3 a{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0b0b0b93;
    background-image: url(../images/bg_icon_setBtn.png);
    white-space: wrap;
    font-size: 17px;    
    color : white;
    vertical-align: middle;
    text-align: center;
    text-indent: -9999px;
    background-repeat: no-repeat
    ;
}
.hoverbox3 a:first-child,.hoverbox1 a:first-child{
    background-position: -1px 0px
}
.hoverbox3 a:nth-child(2),.hoverbox1 a:nth-child(2){
    background-position: -53px 0px;
}

.hoverbox3 a:nth-child(3),.hoverbox1 a:nth-child(3){
    background-position: -105px 0px;
}


.hoverbox3 a:first-child:hover{
    background-position: -157px 0px;
}
.hoverbox3 a:nth-child(2):hover{
    background-position: -209px 0px;
}
.hoverbox3 a:nth-child(3):hover{
    background-position: -261px 0px;
}
.storemainwrapbox>ul>li>ul>li>div:hover .hoverbox3{
    display: flex;
}