#cgvWrap{
    position: relative;
}

/*fixedBtn*/
.fixedBtn{
    position: fixed;
    display: none;
    right:50%;
    bottom: 80px;
    z-index:3;
}

    .btn_ticket{
        width: 136px;
        font-weight: 600;
        padding: 17px 0;
        font-size: 16px;
        color:#ffff;
        background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
        box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        text-align: center;
        position: absolute;
        left:560%;
        opacity: 1;
    }
    .btn_gotoTop{
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        border: 1px solid #000;
        box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        margin-left:9px;
        background: #ffff;
        opacity: 1;
        position: relative;
        left : 800%;
    }
    .btn_gotoTop img{
        width: 15px;
        height: 21px;
        padding-top:14px;
    }
/*fixedNav*/
.fixedNav {
    width: 100%;
    padding: 10px 0;
    background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
    display: none;
    z-index:5;
}
    .fixedNav_wrap{
        width: 980px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .fixedNav h2 {
        width: 71px;
        height: 34px;
    }
    .fixedNav h2 img{
        width: 100%;
    }
    .fixedNav .nav_menu li a{
        color:#fff;
    }
    .fixedNav .sub_menu{
        margin-top: 10px;
    }
    .fixedNav .sub_menu dt a{
        font-weight: 700;
        font-size: 14px;
        color: #222;
        line-height: 1.429em;
    }
    .fixedNav .sub_menu dd a{
        font-weight: 400;
        color: #666;
        line-height:1.8em;
    }
.fixedbtn_search{
    width: 40px;
    height: 26px;
    text-indent: -999em;
    background: url(../img/search_w.png) center / 26px 26px no-repeat;
    border: 0;
    filter: brightness(0.5);
}
.search_wrap{
    display: flex;
    align-items: center;
}
.search_wrap fieldset{
    border-right: 1px solid #cacaca;
    height: 26px;
    display: flex;
}

/*header*/    
header{
    position: relative;
    z-index: 3;
}
 
/*header adTop*/ 
.adTop{
    background-color: #241A0E;
    text-align: center;
}
.adTop_wrap{
    position:relative;
    width:980px;
    height:80px;
    margin: 0 auto;
}
    .btn_close{
        position:absolute;
        right:0px;
        top:10px;
    }
/*header headerTop*/ 
.headerTop{
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 6px;
}
    .logo img{
        width: 117px; 
    }
    .cultureplex{
        font-weight: 300;
        font-size: 16px;
        color: #222;
        letter-spacing: 0.313em;
        line-height: 1.5em;
    }
/*header headerTop member*/ 
    .member{
        display: flex;
        align-items: center;
    }
    .login_menu{
        display: flex;        
    }
    .login_menu li{
        margin-left:24px;        
    }
    .login_menu img{
        display: block;
        width: 36px;
        height: 36px;
        margin: 0 auto;
    }
    .login_menu a{
        display: block;
        font-size: 12px;
        color: #666;
        line-height: 1.462em;
    }

/*header nav*/ 
nav{
    position: relative;
    border-top: 1px solid #ececec;
    border-bottom: 2px solid #fb4357;
}
.nav_wrap{
    width: 980px;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;   
}
.nav_bg{
    position: absolute;
    width: 100%;
    height:0px;
    top: 52px;
    left: 0;
    background-color: #fff;
    transition: all 0.8s;
}
.nav_menu{
    position: relative;
    display: inline-flex;
}
    .nav_menu li{
        width:83px;
        margin-right:20px;
        line-height: 40px;
    }
    .nav_menu li a{
        font-weight: 600;
        font-size: 16px;
        color: #222;
        line-height: 1.2em;
    }
    .nav_menu li a strong{
        font-weight: 700;
        color: #fb4357;
    }
    nav:hover .nav_bg, nav:hover .sub_menu{
        height: 270px;
    }
    .sub_menu{
        position:absolute;
        padding-top:15px;
        width: 100%;
        height: 0;
        transition: all 0.8s;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .sub_menu:not(.notthisone):after{
        content: "";
        position: absolute;
        left: 130px;
        top: 24px;
        width: 1px;
        height: 210px;
        background: #e2e2e2;
        transition: all 0.8s;
    } 
    .sub_menu dt a{ 
        font-size: 14px;
        font-weight: 700;
        color: #222;
    }
    .sub_menu dd {
        line-height:18px;        
    }
    .sub_menu dd a{
        font-weight: 400;
        font-size: 13px;
        color: #666;
        line-height: 2em;
    }   
.nav_menu > li:nth-child(1)> dl {
    left:0px;
}    
.nav_menu > li:nth-child(2) > dl {
    left:163px;
}
.nav_menu > li:nth-child(3) > dl {
    left:326px;
}    
.nav_menu > li:nth-child(4) > dl {
    left:489px;
}
.nav_menu > li:nth-child(5) > dl {
    left:652px;
}
.nav_menu > li:nth-child(6) > dl {
    left:815px;
}
/* .nav_menu>li:nth-child(6)>dl::after {
    width: 0;
} */


/*header nav search_wrap*/ 
.search_wrap{
    line-height: 40px;
}
    input{
        width: 160px;
        padding: 0 0 0 7px;
        font-size: 16px;
        color:#666;
        font-weight: 600;
        line-height:1.6em;
        border:0;
        border-left: 1px solid #cacaca;
        background: transparent;
    }
    .btn_search{
        width: 40px;
        height: 26px;
        text-indent:-999em;
        background: url(../img/search_w.png) center / 26px 26px no-repeat;
        border: 0 ;
        filter: brightness(0.5);
        border-right: 1px solid #cacaca;
    }

/*main */
main{   
    width: 1000px;
    margin: 0 auto;
}
.sec{
    margin:0 0 200px 0;
}
.sec ul{
    display: flex;
    margin-top: 14px;
}

/*main -section-event */
.event_tit{
    margin-top:40px;
    text-align: center;
}
.event_tit h3{
    font-weight: 550;
    font-size:2em;
    color: #000;
    line-height:4.1em;
    width:604px;
    height: 104px;
    margin: 0 auto;
    text-align: center;
    background: url(../img/sub/event/event_tit.png) center no-repeat;
}
.detail{
    margin: 20px 0;
}
.hashTag{
    font-family: 'Poppins';
    font-size:14px;
    color: #999;
    margin:20px 0 40px 0;
}
.title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2em;
    color: #000;
    line-height: 1.500em;
    margin-right: 10px;
}
.img_wrap{
    width: 220px;

    position: relative;
    color:#fff;
    border-radius:12px;
    transform-style: preserve-3d;
    transform:rotateY(0deg);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.8);
}
.succ{
    transform:rotateY(0deg) !important;
}
.img_wrap img{
    backface-visibility: hidden;
    width: 100%;
    height: 314px;
    border-radius:12px;
}

.img_back{
    position: absolute;
    top:0;
    background-color: pink;
    width: 220px;
    height: 314px;
    border-radius:12px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


/* .img_wrap:hover > img {
    transform: scale(1.08);
    transition: all 0.5s;
} */
.event_list li{
    width: 240px;
}


/*footer*/
footer{
    background-color: #f8f8f8;
    font-size: 13px;
}
.footer_ad{
    background-color: #000000;
    background-image: url(https://adimg.cgv.co.kr/images/bg_temp_foot_banner2021.gif);
    background-repeat: repeat-x;
    margin: 0 auto;
    text-align: center;
}
.footer_wrap{
    width: 980px;
    margin: 0 auto;
}
.footer_info_wrap{
    display: flex;
    justify-content: space-between;
}
/*footer policy*/
.policy{
    padding: 23px 0;
    border-bottom: 1px solid #ebebeb;
}
.policy_list{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.policy_list li a{
    font-weight: 550;
    color: #666;
    line-height: 1.462em;
}
.policy_list li a:hover{
    text-decoration: underline;
}
.policy_list li a strong {
    font-weight: 700;
    color: #222;
    text-decoration: underline;
}
/*footer company*/
.company{
    color: #666;
    padding: 23px 0;
    font-size: 12px;
}
address{
    color: #666;
    line-height:20px;
}
.company_list{
    display: flex;
    color: #666;
    line-height: 1.667em;
}
.company_list{
    display: flex;
    color: #666;
    line-height: 1.667em;
}
.company_list .btn_goFtc{
    color: #666;
    text-decoration: underline;
}
.company_list dt:after {
    content: ':';
    padding: 0 4px;
}
.company_list dt ~ dt:before { /*dt 뒤에 있는 모든 태그를 선택합니다*/
    content: '·';
    padding: 0 8px 0 4px;
}
.copyright{
    color: #666;
    line-height:20px;
}
/*footer familysite*/
.familysite{
    width: 213px;
    display: flex;
    justify-content:space-between;
    padding-top:60px;
}
.familysite_wrap{
    position: relative;
}
.familysite_wrap h3{
    width: 162px;
    line-height: 34px;
    color:#666;
    padding-left: 10px;
    border: 1px solid #d8d8d8;
    background: #fff;
}
.familysite_wrap h3 a{
    display: block;
    width: 100%;
    background: url(../img/arrow_D.png) 146px no-repeat;
}
.familysite_wrap dl{
    position: absolute;
    bottom: 65px;
    width: 172px;
    font-size:11px;
    line-height:2em;
    background: #fff;
    color: #666;
    border: 1px solid #d8d8d8;
    box-shadow: 5px 0px 20px 0px #e4e4e4;
    display: none;
}
.familysite_wrap dt{
    font-weight:600;
    line-height:2em;
}
.familysite_wrap dd{
    padding-left: 15px;
}
.familysite_wrap dd:hover{
    background:#666;
    color:#fff;
}
.go{
    text-align: center;
    width: 36px;
    height: 36px;
    margin-left: -1px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    line-height: 34px;
    background-color: #9e9e9e;
}
